<div class="side">
  <table>
  <tr>
    <td><%= link_to "Home", store_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Products", products_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Contact Us", "#" %></td>
  </tr>
  <tr>
    <td><%= link_to "Your Cart", cart_path(session[:cart_id]) %></td>
  </tr>
  </table>
  <% if @cart #only display cart if one exists%>
    <%= hidden_div_if(@cart.line_items.empty?, :id=>"cart") do %> <!--uses content_tag and wraps the output in a tag, in this case the div tag, with the :id=>"cart" -->
    <!--div id="cart"-->
      <%= render(@cart) %> <!-- cart is something that will be availabe, and it'll look for it in the carts dir, with _cart.html.erb-->  
    <% end %>
  <% end %>
</div>
