<!DOCTYPE html>
<html>
  <head>
    <title><%= self.title %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body id="container">
    <div id="store">
      <div id="banner">
        <%=image_tag("rails.png") %>
        <%= @page_title || "Catalog" %>
      </div>
      <div id="columns">
        <%#= render 'layouts/side' %>
          <div class="side">
            <table>
              <tr>
                 <td><%= link_to "Home", store_path %></td>
              </tr>
              <tr>
                <td><%= link_to "Products", products_path %></td>
              </tr>
              <tr>
                <td><%= link_to "Contact Us", "#" %></td>
              </tr>
              <tr>
                <td><%= link_to "Your Cart", cart_path(session[:cart_id]) %></td>
              </tr>
            </table>
              <div id="cart">
                <%#= render @cart %> <!-- cart is something that will be availabe, and it'll look for it in the carts dir, with _cart.html.erb-->  
            </div>
          </div>

        <div id="main">
          <% flash.each do |key,value| %>
              <%= content_tag(:div, value, :class=> "flash #{key}") %> <!--div class="flash <!%=key%><!%= value %><!/div-->
          <%end%>
          <%= yield %>
        </div>
      </div>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
